<div flex layout="row" layout-align="center center">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate="ERROR"></span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <span>Something went wrong :(</span>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="logout()" translate="LOGOUT"></md-button>
    </md-card-actions>
  </md-card>
</div>